# Parte 3

El sitio Web NOOA del gobierno de EEUU proporciona datasets de datos climáticos a través de esta página Web: http://www.ncdc.noaa.gov/cdo-web/datasets

Entre ellos tenemos los datasets “Quality Controlled Local Climatological Data (QCLCD)” que se describen aquí: http://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-
datasets/quality-controlled-local-climatological-data-qclcd

Entre los datos que se encuentran en los datasets QCLCD están las precipitaciones por años y estaciones. Por ejemplo, podemos descargar los datasets de aquí: http://www.ncdc.noaa.gov/orders/qclcd/

Y encontraremos ficheros con datos de precipitaciones como este:

Wban Number, YearMonthDay, Time, Hourly Precip

03013,19960701,0053,0

03013,19960701,0153,0

03013,19960701,0253,0

03013,19960701,0353,0

03013,19960701,0453,0

...

Se pide tomar datos de varios años (queda a la elección del estudiante) de este conjunto de datasets para las precipitaciones y obtener los siguientes resúmenes:

- Día en que ha habido más precipitaciones.

- Año en que ha habido más precipitaciones (obteniendo la media de cada año)

Se pide realizar el análisis en dos versiones:

- Una utilizando DataFrames y los ficheros de texto que se decargan directamente.

- Una segunda con un paso previo en el que se guardan los datos en un fichero HDF5 

(que debe contener los metadatos descriptivos necesarios). Queda a la decisión del estudiante cómo organizar los datos en el fichero. 

Y se pide comparar:

- El tamaño en disco que ocupan los datos en cada una de las versiones.

- El tiempo comparado de ejecución de los resúmenes anteriores.

Opcional: finalmente, se platea el almacenar en el fichero HDF5 los resúmenes mismos obtenidos y comparar el tiempo de recuperación de esos datos del fichero con el tiempo tardado en calcularlo.

# Usando los ficheros de texto descargados directamente.

In [5]:
import numpy as np
import pandas as pd
from urllib import urlretrieve, urlcleanup
import zipfile
import os.path
import os, sys
from time import time

In [6]:
# Eligo las fechas construyo un array 
fechas = [
 
    '201501','201502','201503','201504','201505','201506','201507','201508','201509','201510','201511','201512',
    '201601','201602','201603','201604','201605','201606','201607','201608','201609','201610']

print 'Se van a descargar siguientes fechas:'
print fechas

Se van a descargar siguientes fechas:
['201501', '201502', '201503', '201504', '201505', '201506', '201507', '201508', '201509', '201510', '201511', '201512', '201601', '201602', '201603', '201604', '201605', '201606', '201607', '201608', '201609', '201610']

In [7]:
# Cargo los datos a un data frame


lista = []


contador = 0
for fecha in fechas:
    contador = contador + 1
    
    # Carga zip
    ficherozip = 'QCLCD' + fecha + '.zip'
    
    print 'Carga', ficherozip
    fzip = zipfile.ZipFile(ficherozip, 'r')

    # Carga txt
    ficherotxt = fecha + 'precip.txt'
    ftxt = fzip.read(ficherotxt)
    fzip.close()
    
    print 'Carga', ficherotxt

    outfile = open(ficherotxt, 'w')
    outfile.write(ftxt)
    outfile.close()    

    dfaux = pd.read_csv(ficherotxt, index_col=None, header=0)
    lista.append(dfaux)

df = pd.concat(lista)

Carga QCLCD201501.zip
Carga 201501precip.txt
Carga QCLCD201502.zip
Carga 201502precip.txt
Carga QCLCD201503.zip
Carga 201503precip.txt
Carga QCLCD201504.zip
Carga 201504precip.txt
Carga QCLCD201505.zip
Carga 201505precip.txt
Carga QCLCD201506.zip
Carga 201506precip.txt
Carga QCLCD201507.zip
Carga 201507precip.txt
Carga QCLCD201508.zip
Carga 201508precip.txt
Carga QCLCD201509.zip
Carga 201509precip.txt
Carga QCLCD201510.zip
Carga 201510precip.txt
Carga QCLCD201511.zip
Carga 201511precip.txt
Carga QCLCD201512.zip
Carga 201512precip.txt
Carga QCLCD201601.zip
Carga 201601precip.txt
Carga QCLCD201602.zip
Carga 201602precip.txt
Carga QCLCD201603.zip
Carga 201603precip.txt
Carga QCLCD201604.zip
Carga 201604precip.txt
Carga QCLCD201605.zip
Carga 201605precip.txt
Carga QCLCD201606.zip
Carga 201606precip.txt
Carga QCLCD201607.zip
Carga 201607precip.txt
Carga QCLCD201608.zip
Carga 201608precip.txt
Carga QCLCD201609.zip
Carga 201609precip.txt
Carga QCLCD201610.zip
Carga 201610precip.txt

In [8]:
print df.shape
df.head(10)

(37247184, 5)

   Wban  YearMonthDay  Hour Precipitation PrecipitationFlag
0   102      20150101     1
1   102      20150101     2
2   102      20150101     3
3   102      20150101     4
4   102      20150101     5
5   102      20150101     6
6   102      20150101     7
7   102      20150101     8
8   102      20150101     9
9   102      20150101    10

In [9]:
# Añado columna año
df['Year'] = df.YearMonthDay.apply(lambda x: str(x)[0:4])
df.head(10)

(37247184, 6)

   Wban  YearMonthDay  Hour Precipitation PrecipitationFlag  Year
0   102      20150101     1                                  2015
1   102      20150101     2                                  2015
2   102      20150101     3                                  2015
3   102      20150101     4                                  2015
4   102      20150101     5                                  2015
5   102      20150101     6                                  2015
6   102      20150101     7                                  2015
7   102      20150101     8                                  2015
8   102      20150101     9                                  2015
9   102      20150101    10                                  2015

In [10]:
# Convierto los valores de la columna precipitation a números
df['Precipitation'] = pd.to_numeric(df['Precipitation'], errors = 'NaN')
df.head()

   Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
0   102      20150101     1            NaN                    2015
1   102      20150101     2            NaN                    2015
2   102      20150101     3            NaN                    2015
3   102      20150101     4            NaN                    2015
4   102      20150101     5            NaN                    2015

In [11]:
# Descarto los valores nulos
df = df[np.isfinite(df['Precipitation'])]
print df.shape # veo que me quedo con menos datos
df.head()

(1603154, 6)

      Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
932    103      20150108    21           0.01                    2015
934    103      20150108    23           0.01                    2015
2403   106      20150108     4           0.02                    2015
2404   106      20150108     5           0.01                    2015
2405   106      20150108     6           0.01                    2015

### Filtro el día de mayores lluvias.

In [12]:
%time  df[df["Precipitation"]==df["Precipitation"].max()]

Wall time: 16 ms

        Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
198259   386      20151215    20      4780000.0                 S  2015

Veo el tiempo de ejecucuíon en milisegundos.

### La media de lluvias por año.

In [13]:
print 'Media de lluvias por año:'
df["Precipitation"].groupby(df["Year"]).mean()

Media de lluvias por año:

Year
2015    10.200522
2016     0.078410
Name: Precipitation, dtype: float64

In [14]:
%time print 'Ha llovido más en el año',df["Precipitation"].groupby(df["Year"]).mean().argmax()

Ha llovido más en el año 2015
Wall time: 116 ms

# Usando HDFS5

In [15]:
import os
import tables as tb
import numpy as np
import pandas as pd

from pandas import HDFStore, DataFrame

In [16]:

hdf5tbl = "tabla/hdf5_precipitaciones" # data frame
hdf5filename = "hdf5_precipitaciones.h5" # fichero hdfs5


try:
    os.remove(hdf5filename)
except OSError:
    pass

hdf = HDFStore(hdf5filename)

# Guardo el dataframe en hdf5
hdf.put(hdf5tbl, df, format='table', data_columns=True)


print hdf[hdf5tbl].shape # compruebo que 
hdf[hdf5tbl].head()

(1603154, 6)

      Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
932    103      20150108    21           0.01                    2015
934    103      20150108    23           0.01                    2015
2403   106      20150108     4           0.02                    2015
2404   106      20150108     5           0.01                    2015
2405   106      20150108     6           0.01                    2015

In [21]:
df1=hdf[hdf5tbl] # defino una variable para mayor comodidad

### Calculo el año con más lluvias:

In [23]:
%time  df1[df1["Precipitation"]==df1["Precipitation"].max()]

Wall time: 25 ms

        Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
198259   386      20151215    20      4780000.0                 S  2015

### Calculo las medias por año y el año que más llovió:

In [25]:
print 'Media de lluvias por año:'
df1["Precipitation"].groupby(df1["Year"]).mean()

Media de lluvias por año:

Year
2015    10.200522
2016     0.078410
Name: Precipitation, dtype: float64

In [26]:
%time print 'Ha llovido más en el año',df1["Precipitation"].groupby(df1["Year"]).mean().argmax()

Ha llovido más en el año 2015
Wall time: 95 ms

# Comparativa de espacio usado y tiempos

### Comparativa de espacio

In [36]:
sizedf = df.size # tamaño en memoria
sizedf1 = hdf.root.tabla.hdf5_precipitaciones.table.size_on_disk # tamaño en el disco
print "Tamaño memoria:", sizedf
print "Tamaño disco:", sizedf1
print "Diferencia en el tamaño es: ",(sizedf1 - sizedf)

Tamaño memoria: 9618924
Tamaño disco: 72203040
Diferencia en el tamaño es:  62584116

Fichero HDFS ocupa más espacio en el disco que el data frame en memoria.

### Comparativa de los tiempos

El cálculo del día más lluvioso.

In [39]:
%time  df[df["Precipitation"]==df["Precipitation"].max()], #fichero texto
%time  df1[df1["Precipitation"]==df1["Precipitation"].max()] #fichero hdfs

Wall time: 15 ms
Wall time: 28 ms

        Wban  YearMonthDay  Hour  Precipitation PrecipitationFlag  Year
198259   386      20151215    20      4780000.0                 S  2015

El cálculo del año más lluvioso.

In [41]:
%time df["Precipitation"].groupby(df["Year"]).mean().argmax()
%time df1["Precipitation"].groupby(df1["Year"]).mean().argmax()

Wall time: 125 ms
Wall time: 94 ms

'2015'

El tiempo de cálculo en el primer caso es menor para el fichero de texto y en caso del segudo cálculo es menor en hdfs.

In [48]:

lista = []


contador = 0
for fecha in fechas:
    contador = contador + 1
    
    # Carga zip
    ficherozip = 'QCLCD' + fecha + '.zip'
    
#    print 'Carga', ficherozip
    fzip = zipfile.ZipFile(ficherozip, 'r')

    # Carga txt
    ficherotxt = fecha + 'precip.txt'
    ftxt = fzip.read(ficherotxt)
    fzip.close()
    
#    print 'Carga', ficherotxt

    outfile = open(ficherotxt, 'w')
    outfile.write(ftxt)
    outfile.close()    

    %time    dfaux = pd.read_csv(ficherotxt, index_col=None, header=0)
    lista.append(dfaux)

df = pd.concat(lista)

Wall time: 582 ms
Wall time: 541 ms
Wall time: 594 ms
Wall time: 602 ms
Wall time: 633 ms
Wall time: 586 ms
Wall time: 618 ms
Wall time: 599 ms
Wall time: 577 ms
Wall time: 585 ms
Wall time: 564 ms
Wall time: 585 ms
Wall time: 600 ms
Wall time: 556 ms
Wall time: 593 ms
Wall time: 565 ms
Wall time: 594 ms
Wall time: 579 ms
Wall time: 601 ms
Wall time: 616 ms
Wall time: 585 ms
Wall time: 606 ms

In [43]:
%time hdf.put(hdf5tbl, df, format='table', data_columns=True)

Wall time: 8.49 s

La carga a hdfs5 es más rápida que la carga desde los ficheros a un data frame.